.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    margin: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit:hover{
    font-weight: 600;
    color: #fff;
    background-color: green;
}
.login-form-2 .btnSubmit:hover{
    font-weight: 600;
    color: #0062cc;
    background-color: green;
}
.login-form-2 .ForgetPwd{
    color: gold;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: gold;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd:hover{
    color: palegoldenrod;
    font-weight: 600;
    text-decoration: none;
}


a {
  color: gold;
}

/* visited link */
a:visited {
  color: darkgoldenrod;
}

/* mouse over link */
a:hover {
  color: yellow;
}
h3 {
    font-family:monospace;
}

/* selected link */
a:active {
  color: gold;
}

.form-check-input[type=checkbox]:checked:focus {
    background-color: goldenrod;
}
.form-check-input[type=checkbox]:focus {
    background-color: goldenrod;
}
.form-switch .form-check-input:checked[type=checkbox]:after{
    background-color: goldenrod;
}
.form-check-input[type=checkbox]:checked{
    background-color: goldenrod;
}
.form-switch .form-check-input {
    margin-left: 5vw;
}